@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: white;
    color: black;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weigt ;
    transition:0.3s ;
}
.dark {
    background-color: #121212;
    color: white
}

button {
   display: block;
    margin: 7px 38px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    float: right;
    color: brown;
}

header {
    background-color: brown;
    width: 100%;
}
.foto__nome{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    width: 100%;
}
.nome{
    padding-top: 58px;
    padding-left: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
.caixa--imagem{
  justify-content: right;
    display: flex;
    align-items: center;
    height: 150px;
    width: 150px;
    padding-right: 25px;
     padding-top: 21px;
}
#imagem_biobiografica{
    height: 150px;
    width: 150px;
    border-radius: 16px;
    border: 1px solid black;
     object-fit: cover;
     
}
.link__sobre__home{
     display: flex;
    justify-content: start;
    color: black;
    padding-left: 13px;
    gap: 25px;
    
}
.links_navegacao{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.caixa--home{
         display: flex;
    align-items: center;
    height: 60vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.caixa-da-caixas{
    display: flex;
}
.caixa__habilidades {
     padding-bottom: 18px;
     text-decoration: none;
}
.caixa__habilidades a{
    text-decoration: none;
    color: black;

}

.icones{
     width: 20px;
    height: 20px;
}
.caixa--sobre-mim{
 justify-content: center;
 font-family:monospace

}
.caixa-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}
.caixa-sobre div {
    width: 70%;
    display: flex;
    justify-content: center;
    text-align: justify;

   
}
@media (max-width: 680px) {
    .links_navegacao{
        font-size: 40px;
    }
}



